<%- include('../partials/head') %>
<div class="container">
<div class="card center">
  <div class="card-content">
    <span class="lighten-1"><h3><%= entry.airline %></h3></span>
    <span class="card-title"><h2><%= entry.airport %></h2></span>
    <ul>
      <li>Flight No:<%= entry.flightNo%></li>
      <li>Departs: <%= new Date(entry.departs).toDateString()%></li>
      <li>Destinations:
        <blockquote> <% entry.destinations.forEach(dest=>{ %>
        <p>
          <form action="/flights/<%= entry._id%>/destinations/<%=dest._id%>?_method=DELETE" method="POST">
          <button type="submit">X</button> <strong><%= dest.airport %></strong> - (<%= dest.arrival %>)</form>
          
        </p>  
        <% }) %></blockquote>
        <div class="row">
          <form action="/flights/<%= entry._id %>/destinations"  method="POST">
          <div class="input-field col s6">
            <select name="airport">
              <option value="" disabled selected>Select an Airport</option>
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
            <label>Airport</label>
          </div>
          <div class="input-field col s4">
            <input name="arrival" type="text" class="datepicker">
            <label for="last_name">Date</label>
          </div>
          <div class="input-field col s2">
            <button class="btn" type="submit">Add</button>
          </div>
        </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-action">
    
    <form action="/flights/<%= entry._id %>?_method=DELETE" method="POST">
      <a class="btn" href="/my_db/<%= entry._id %>/edit" disabled>Edit</a>
    
      <button class="btn" href="/flights/<%= entry._id %>">Delete</button>
    </form>
  </div>
</div>
</div>
<%- include('../partials/foot') %>
