<%- include('../partials/head') %>
<div class="container">
<div class="card center">
  <div class="card-content">
    <span class="lighten-1"><h3><%= entry.airline %></h3></span>
    <span class="card-title"><h2><%= entry.airport %></h2></span>
    <ul>
      <li>Flight No:<%= entry.flightNo%></li>
      <li>Departs: <%= new Date(entry.departs).toDateString()%></li>
      <li>Destinations:
        <div class="card-content"><% entry.destinations.forEach(dest=>{ %>
        <div class="row">
          <form action="/flights/<%= entry._id%>/destinations/<%=dest._id%>?_method=DELETE" method="POST">
          <button class="btn-floating red white-text waves-effect waves-light" type="submit">X</button> <strong><%= dest.airport %></strong> - (<%= dest.arrival %>)</form>
          
          </div>  
        <% }) %></div>
        <div class="row">
          <form action="/flights/<%= entry._id %>/destinations"  method="POST">
          <div class="input-field col s6">
            <select name="airport" required>
              <option value="" disabled selected>Select an Airport</option>
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
            <label>Airport</label>
          </div>
          <div class="input-field col s4">
            <input name="arrival" type="text" class="datepicker" required>
            <label for="last_name">Date</label>
          </div>
          <div class="input-field col s2">
            <button class="btn-floating btn-large waves-effect waves-light green left" type="submit">ADD</button>
          </div>
        </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-content">
    
    <form action="/flights/<%= entry._id %>?_method=DELETE" method="POST">   
      <button class="btn-floating btn-large red right white-text waves-effect waves-light" href="/flights/<%= entry._id %>">Delete</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <span class="card-title">Tickets</span>
    <div class="card-content">
    <% entry.tickets.forEach(ticket=>{ %> 
      <div class="row">
      <form action="/flights/<%= entry._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
      <button class="left btn-floating red white-text waves-effect waves-light" type="submit">X</button>
      <strong>&nbsp; Seat: <%= ticket.seat %></strong><br />&nbsp; $ <%= ticket.price %>
    </form>

    </div>
    <% }) %> 
  </div>
    <span class="card-title">Add Ticket</span>
    <form action="/flights/<%= entry._id %>/tickets" method="POST">
      <div class="row">
        <div class="input-field col s5 center">
          <input name="seat" id="seat" type="text" value="A10" class="validate" required pattern="[A-F][1-9]\d?">
          <label for="seat">Seat (A-F)(1-999)</label>
        </div>
        <div class="input-field col s5 center">
          <input name="price" id="price" type="number" value="0" class="validate" required min="0">
          <label for="price">Price</label>
        </div>
        <div class="input-field col s2 left">
          <button class="btn-floating btn-large green waves-effect waves-light" type="submit">ADD</button>
        </div>
      </div>
      
      
    </form>
    </div>
</div>
</div>
<%- include('../partials/foot') %>
